body {
  font: 10pt Helvetica;
}

h3 {
  font: bold 15pt Helvetica;
}

label#operationChoiceTitle{
  font: 10pt Helvetica;
}

select#operationChoice {
  background-color: rgb(77, 157, 134);
  color: white;
  margin-bottom: 10px;
  border-color: rgb(229, 229, 229);
  border-style: inherit;
  border-radius: 10px;
}

input.operationNumber {
  background-color: rgb(249, 249, 249);
  border-color: rgb(252, 252, 252);
  border-style: inherit;
  border-radius: 10px;
}

input.operationResult {
  background-color: rgb(77, 157, 134);
  color: white;
  border-color: rgb(252, 252, 252);
  border-style: inherit;
  border-radius: 10px;
}

.fieldset-Title {
  font: bold 20px Helvetica;
  margin-bottom: 8px;
}

.calculator-fildset {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  width: 550px;
}

